<section>
  <div class="page-header">
    <h1>Races</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="race in vm.races" class="list-group-item">

      <h4 class="list-group-item-heading" >{{race._id}}: {{race.name}}</h4>

      <a class="btn btn-primary"
         data-ui-sref="races.view({ raceId: race._id })">
        <i class="glyphicon glyphicon-cog"></i>
      </a>

    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.races.$resolved && !vm.races.length">
    No races yet, why don't you <a data-ui-sref="races.create">create one</a>?
  </div>
</section>
