<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <img class="img-responsive" style="height: 150px;margin:auto;" src="/modules/core/client/img/brand/logo.png">
  </div>
  <div>
    <p class="lead">Welcome on Rennmeister, the platform to let organisators keep control on the most demanding outdoor
      races.</p>
  </div>


  <br>The Rennmeister Team with the support of the delicious music of Pierre Billon.<br>
  <br>
  <img width="300" src="/modules/core/client/img/TEAM.JPG" alt="The Rennmeister Team!">
  <div align="right">Out now on <img width="250" src="/modules/core/client/img/Google-CloudPlatform.png" alt="Google Cloud Plattform"></div>

</section>
