<section>
  <div class="page-header">
    <h1>Trackinginfos</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="trackinginfo in vm.trackinginfos"
       data-ui-sref="trackinginfos.view({ trackinginfoId: trackinginfo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="trackinginfo.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="trackinginfo.user" data-ng-bind="trackinginfo.user.displayName"></span>
        <span data-ng-if="!trackinginfo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="trackinginfo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.trackinginfos.$resolved && !vm.trackinginfos.length">
    No Trackinginfos yet, why don't you <a data-ui-sref="trackinginfos.create">create one</a>?
  </div>
</section>
