<section>
  <div class="page-header">
    <h1>Trackinginfos</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="trackinginfo in vm.trackinginfos" class="list-group-item">

      <h4 class="list-group-item-heading" data-ng-bind="trackinginfo.dateTime"></h4>

      <a class="btn btn-primary"
         data-ui-sref="trackinginfos.view({ trackinginfoId: trackinginfo._id })">
        <i class="glyphicon glyphicon-cog"></i>
      </a>

    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.trackinginfos.$resolved && !vm.trackinginfos.length">
    No trackinginfo yet, why don't you <a data-ui-sref="trackinginfos.create">create one</a>?
  </div>
</section>
