<section>
  <div class="page-header">
    <h2 data-ng-bind="vm.trackinginfo.dateTime"></h2>
    Pulse: {{vm.trackinginfo.pulse}}<br>
    Latitude: {{vm.trackinginfo.lat}}<br>
    Longitude: {{vm.trackinginfo.lng}}<br>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="trackinginfos.edit({ trackinginfoId: vm.trackinginfo._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" data-ng-bind="vm.trackinginfo.content"></p>
</section>
