<section>
  <div class="page-header">
    <h1>{{vm.organisator._id ? 'Edit Organisator' : 'New Organisator'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.organisatorForm" class="form-horizontal" ng-submit="vm.save(vm.form.organisatorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.organisator.name" id="name" class="form-control" placeholder="" required>
          <div ng-messages="vm.form.organisatorForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Organisator name is required.</p>
          </div>
          <label class="control-label" for="birthdate">Birthdate</label>
          <input name="birthdate" type="text" ng-model="vm.organisator.birthdate" id="birthdate" class="form-control" placeholder="" required>
          <div ng-messages="vm.form.organisatorForm.birthdate.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Organisator birthdate is required.</p>
          </div>
          <label class="control-label" for="location">Location</label>
          <input name="location" type="text" ng-model="vm.organisator.location" id="location" class="form-control" placeholder="" required>
          <div ng-messages="vm.form.organisatorForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Organisator location is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.organisator._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
