<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.organisator.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="organisators.dashboard({ organisatorId: vm.organisator._id })">
      <i class="glyphicon glyphicon-signal"></i>
    </a>
    <a class="btn btn-primary"
       data-ui-sref="organisators.edit({ organisatorId: vm.organisator._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <p class="lead" data-ng-bind="vm.organisator.content"></p>
</section>
